.propertyPage {
  background-color: #e8e8e8;
  margin: 0;
}

.propertyBox {
  background-color: white;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 5px;
}

.savedPropBox {
  margin-bottom: 10%;
  background-color: white;
  border-radius: 5px;
}
