* {
  padding: 0;
  margin: 0;
}

.skeleton {
  border: 2px solid black;
}

.welcomeInfo {
  margin-top: 4%;
  margin-bottom: 2%;
  text-align: center;
}

.logInButton {
  text-align: center;
}

.welcomeBanner {
  background-color: cornflowerblue;
  color: white;
  height: 500px;
}
