html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  margin: 0;
  padding: 0;
}

.landingContainer {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../images/landingPhoto.jpg");
  background-position: center;
  background-color: #203b8c;
  font-family: "Raleway", sans-serif;
}

.landingRow {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* ============================================================================= */

.landingLogo {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 4em;
  color: white;
  text-shadow: 0px 2px black;
}

.welcomeInfo {
  text-align: center;
  padding: 50px;
  margin-bottom: 12%;
  font-size: 1.75em;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 10px;
}

.buttonRow {
  text-align: center;
}
